box-shadow - добавляет тень к элементу
box-shadow: 3px 3px 4px #cccccc;  --  тень 3 3 4 координаты солнца (4-удаленность от солнца)

box-shadow: [inset] 5px 10px [2px] [3px] [red]; -- inset(внутренняя тень), 5px - смещение по x, 10px - смещение по y, [2px] - размытие, [3px] - растяжение, [red] - цвет тени

размытие есть, растяжение отрицательное - тень очень светлая
размытие есть, растяжения нет - тень обычная
размытие больше растяжения - тень темнее обычного
размытие меньше растяжения - тень очень темная

box-shadow: 0 5px 5px -3px #34495e; -- неплохая тень (для youtube)

box-shadow:  -- несколько теней
    0 0 5px 0 red, -- перекрывает нижнию тень
    0 0 10px 0 white;
/* можно сделать несколько "рамок" */