text-decoration: underline; -- нижнее подчеркивание =текста
text-decoration: line-through; -- зачеркнутый текст
text-decoration: overline; -- черту сверху

нижнее подчеркивание пунктиром {
    border-bottom: 1px dashed black; -- задаем стиль тексту
}

text-transform: lowercase/uppercase/capitalize; -- все строчные/все прописные/каждое слово с прописной (обычные/на caps lock/все слова с большой буквы)

font-weight: bold/bolder/normal; -- жирный текст/полужирный текст/обычный текст
font-style: italic; -- текст курсивом (под углом)

white-space: pre/pre-wrap/nowrap; -- сохраняет пробелы/сохр. пробелы и если текст не помещаеться, переносит на новую строку/весь текст одной строкой весь текст(запрет переноса) 
font-size: 1em -- высота шрифта равна высоте буквы "M" данного шрифта

text-align: left/center/right/justify; - выравнивание по горизонтали(justify-по ширине)
vertical-align: middle/top/bottom/baseline; -- вертикальное выравнивание по центру/сверху/низу/по базовой линии(по умолчанию)
vertical-align: sub/super; нижний/верхний индекс

line-height: 1.3/5px - межстрочный интервал(интерлиньяж); 

/* ток для body задаем размер шрифта в px, у остальных используем относительные величины % и em (для line-height используесм прост. цыфру ) */ 

text-shadow: 30px 20px 1px #111111; тень текста (30 - по X, 20 - по Y(положительное значение - смещает вниз!), 1 - степень размытия)
text-shadow: -1px -1px 1px #1e181c, -- двойная тень (чтоб изобразить втопленные буквы)
              2px 2px 1px #52424d;
красивая тень {
    font-size: 55px;
    text-shadow: 2px 2px #e5d4c0, 
            4px 4px rgba(0, 0, 0, 0.2);
}

@font-face {        -- подключение шрифта из инета (у каждого блока указывать font-family)
font-family:"Roboto"; 
src: 
    local("Roboto Regular"), /* смотрит есть ли шрифт локально */
    url("/assts/смотрит есть ли он в онлайне") format("woff");
}

/* логотип делаем символом в нашем шрифте glyphter.com чтоб при высоком разрешение лого не замыливолось */

letter-spacing: -2px; -- расстояние между буквами (по умолчанию равно 0)
word-wrap: break-word/normal; -- перенос слова на новую строку: делить слово на части/не разрешать делить слово (если не помещаеться в контейнере)
text-indent: 24px; -- абзац

p::first-letter {
    Стиль для первой буквы абзаца
}
p::first-line {
    первой строке текста
}
/* p:first-child::first-letter -- первый p первая буква*/
column-count: 3; -- делит текст на три столбца
column-width: 10px; -- ширина столбца
column-gap: 5em; -- расстояние между двуми столбцами
overflow: auto; -- текст не выпадает из родителя, а прокручиваеться (задаеться родителя) 
direction: rtl/ltr; -- позиция полосы прокрутки и порядок ячеек таблицы (справа/слево) 
unicode-bidi: embed/bidi-override; -- направление текста/порядок символов (берет значение из direction)

text-overflow: ellipsis; -- если текст не помещветься то добавляеться многоточие (без overflow: hidden; не работает)

word-spacing: 10px; -- расстояние между строчными элементами (задаеться родителя элементов)

font-family: "Times New Roman", serif/sans-serif; -- шрифт times new roman с засечками/без засечек 

/* Абзац в псевдоэлементе */

span::before {
    ...
    white-space: pre; // сохраняет пробелы и видит символы переноса
    content: "hellow! \A I`m fine"; // перенос на новую строку - \A
    ...
}

/* */