img {
    filter: brightness(2); -- увеличивает яркость в два раза
    filter: brightness(20%); -- устанавливает яркость 20%
    filter: contrast(2); -- увеличивает контрасность в два раза
}

filter: grayscale(1); -- делает фото чернобелым
filter: grayscale(50%); -- делает чб на половину

filter: sepia(1); -- эффект серпии
filter: saturate(2); -- насышенность в два раза больше
filter: invert(1); -- эффект негатива
filter: hue-rotate(90deg); -- смена цветов, на угол в цветовой палитре


filter: blur(5px); -- делает изображение размытым
filter: opacity(0.4); -- делает изобр прозрачным (так браузер отрисовывает быстрее чем если исп. свойство opacity: 0.4)

filter: drop-shadow(5px 5px 10px black); -- если свойство задать контейнеру, то тень появиться и у картинки и у контейнера,
если задать drop-shadow картике с прозрачным фоном, то тень будет ток у непрозрачных элементах картины, у box-shadow тень по границам картины

/* filter можно применять и к тексту */

filter: sepia(50%) blur(5px); -- можно несколько значений, порядок имеет значение т.к. следующий фильтр применяеться к изображению с эффектом

если задать несколько теней filter: drop-shadow(10px 20px 0px blue) drop-shadow(20px 30px 0px green); то вторая тень будет и у элемента и у первой тени